# Nome de usuário e senha
USER_NAME="ender"
USER_PASSWORD="1234"

# Senha de root
ROOT_PASSWORD="1234"

# Configurações de localização
TZDATA="America/Sao_Paulo"
TIMEZONE="America/Sao_Paulo"
LOCALE="pt_BR.UTF-8"

# Não solicitar informações de usuário durante a instalação
DEBIAN_FRONTEND="noninteractive"
